@import '~antd/dist/antd.css';

/*background*/
#particles-js {
  background-color: #05386B;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

/*homepage*/
.title, #description, #listingsTitle {
  text-align: center;
  color:#EDF5E1;
}
#description {
  font-size:5vh;
  padding-bottom: 9vh;
}
.title {
  font-size: 12vh;
  margin-bottom: -5px;
}
.share {
  color:#5CDB95;
}
#homeLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55vh;
  height: 55vh;
  margin-top: 40px;
}

/* Nav */
.menu {
  background-color: transparent;
  border: 0px;
  font-size: 19px;
  opacity: 0.97;
}

#navBar > li > a {
  color: black;
}

.ant-menu-dark .ant-menu-item {
  color: black;
}

#extension {
  position: absolute;
  right: 0px;
}

/*Listings*/
#listings {
  font-size: 10vh;
  margin-bottom: -10px;
}

#listingsTitle {
  margin-bottom: -30px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
