@import '~antd/dist/antd.css';


/*Whole Container*/


/*Background*/
#root {
  position: relative;
}

#particles-js
{
  background-color: #f6ecdf;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
  height: 100%;
}

/*buttons*/
.ant-btn-primary {
    color: #ffffff;
    background-color: #5CDB95;
    border-color: #5CDB95;
}
.ant-btn-primary:hover {
    color: #ffffff;
    background-color: #379683;
    border-color: #379683;
}
.ant-btn-primary:focus {
    color: #ffffff;
    background-color: #379683;
    border-color: #379683;
}
.ant-btn-default:hover {
  color: #5CDB95;
  border-color: #5CDB95;
}
.ant-btn-default:focus {
  color: #5CDB95;
  border-color: #5CDB95;
}

/*inputs*/
.ant-input {
    border-color: #5CDB95;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(87,168,233, 0);
    box-shadow: 0 0 0 2px rgba(87,168,233, 0);
}

/*homepage*/
.title, #description, #listingsTitle {
  text-align: center;
  color:#5CDB95;
}
#description {
  font-size:4.5vh;
  margin-bottom: 10px;
}
.title {
  font-size: 12vh;
  margin-top: 5px;
  margin-bottom: -5px;
}
.share {
  color:#379683;
}
.motto2 {
  color:#379683;
}
#homeLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
  height: 40vh;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*Cards*/
.ant-card-bordered {
    border: 2px solid #5CDB95;
}

.ant-card-actions {
    border-top: 1px solid #5CDB95;
    background: #5CDB95;
    zoom: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ant-card-meta-title {
    font-size: 20px;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #379683;
    font-weight: 500;
}

.ant-card-meta-description {
    color: #379683;
    text-align: center;
}

.ant-card-actions > li {
    float: left;
    text-align: center;
    margin: 12px 0;
    color: #f6ecdf;
}

/* Nav */
.menu {
  background-color: transparent;
  border: 0px;
  font-size: 19px;
  opacity: 0.97;
}

#navBar > li > a {
  color: black;
}

.ant-menu-dark .ant-menu-item {
  color: black;
}

#extension {
  position: absolute;
  right: 0px;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    border-bottom: 2px solid #379683;
    color: #379683;
}

/*Listings*/
#listings {
  font-size: 10vh;
  margin-top: 20px;
  margin-bottom: -10px;
  background-color: #ffffff;
  z-index: 10;
}

#listingsTitle {
  background: #f6ecdf;
  margin-bottom: -30px;
  z-index: 10;
}

#purchaseModalImage {
  text-align: center;
}

#purchaseModal {
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  color: #5CDB95;
}

#f {
  color: #379683;
}

#ps {
  color: #5CDB95;
}

#registerNow {
  font-size: 20px;
  text-align: center;

}
#registerContainer {
  margin-top: 10px;
}
#loginTitle {
  text-align: center;
  color: #4D4A5D;
  font-size: 9vh;
}
/*Footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5CDB95;
  color: #379683;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;

}

/*Balance*/
#balanceHeader {
  font-size: 12vh;
  text-align: center;
  color:#379683;
}

#balanceText{
  font-size: 6vh;
  text-align: center;
  color:#379683;
}

#jacsfirstbox {
  background-color: #5CDB95;
  width: 25vw;
  border-radius: 20px;
  width: 300px ;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
  vertical-align: middle
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
